* {
    padding: 0;
    margin: 0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 20% 5% 20%;
}

.HeaderLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.HeaderNav {
    display: flex;
    list-style-type: none;
}


.HeaderNav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: block;
    padding: 1em;`
}

.mainsection1text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    float: left;
}

.section1text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 0 15% 3% 15%;
}

.secondarysection1text {
    margin-top: 8px;
    margin-bottom: 16px;
    color: white;
}

