* {
    padding: 0;
    margin: 0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 20% 5% 20%;
}

.HeaderLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.HeaderNav {
    display: flex;
    list-style-type: none;
}


.HeaderNav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: block;
    padding: 1em;
}

.mainsection1text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    float: left;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 0 15% 3% 15%;
}

.secondarysection1text {
    margin-top: 10px;
    margin-bottom: 16px;
    color: white;
    font-size: 18px;
    float: left;
}
.silviaimage {
    width: 500px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
}

.NothingButton {
    width: 120px;
    height: 40px;
    font-size: 10px;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
}

.four-photo-section {
    display: block;
    padding: 3% 20% 3% 20%;
    text-align: center;
    background-color: white;
}

.four-photo-title {
    color: #1F2937;
    font-size: 40px;
    font-weight: 900;
}

.four-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.four-photos div img {
    height: 200px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;   
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 18px;
}

.four-photos div {
    margin-left: 20px;
    margin-right: 20px;
}


.four-photos div p {
    font-size: 18px;
    color: #232423;
}

.section-3 {
    padding: 3% 20% 3% 20%;
    background-color: #E5E7EB;  
    text-align: center;
}

.section-3 .quote-text {
    font-style: italic;
    font-style: bold;
    font-weight: 300;
    color: #1F2937;
    font-size: 40px;
}

.section-3 .quote-name {
    color: black;
    font-size: 20px;
    padding-left: 80%;
    font-weight: 800;   
}
